# Database settings
MYSQLDB_USERNAME=
MYSQLDB_PASSWORD=
MYSQL_DATABASE=
MYSQLDB_LOCAL_PORT=
MYSQLDB_DOCKER_PORT=

# JWT
JWT_EXPIRATION=
JWT_SECRET=

# Spring application settings
SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=

# Debug settings
DEBUG_PORT=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# Telegram
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_CHAT_ID=